<h1>Xóa user tại đây</h1>
<p>
  Bạn có chắc muốn xóa user: <span class="bold"><%= user.name %></span> có email
  là
  <span> <%= user.email %> </span>
</p>
<div class="d-flex">
  <form action="" method="post">
    <button class="btn btn-primary">Xác nhận</button>
  </form>
  <a class="btn btn-danger mx-2">Hủy</a>
</div>
