<form action="" method="post" class="form-control p-3 mt-2">
  <h1>Đổi mật khẩu</h1>
  <input
    type="text"
    placeholder="Vui lòng nhập mật khẩu mới..."
    class="form-control mb-3"
    name="password"
  />
  <input
    type="text"
    placeholder="Nhập lại mật khẩu mới..."
    class="form-control mb-3"
    name="isCorrectPassword"
  />
  <button class="btn btn-primary">Save</button>
</form>
