<h1 class="text-center">Đăng nhập</h1>
<form action="" method="post">
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Email" />
  </div>
  <div>
    <label for="password">Mật khẩu</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Đăng nhập</button>
</form>
